#checkAnyColor {
 --canvasContainer-width: 60vw;
 --canvasContainer-height: 60vw;

    position: relative;
    margin-top: 90px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #previewBoxAnyColor {
    display: flex;
    flex-direction: row;
    height: calc(var(--canvasContainer-height) + 10vw); 
  }
  
  #previewContainerAnyColor {
    margin-top: 4vw;
    display: flex;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
  }
  
#selectFileAnyColor {
    display: none;
  }
  

#linkContainer3 {
    position: absolute;
    bottom: 3%;
    right: 3%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
  }

  #canvasContainer{
    width: var(--canvasContainer-width);
    height: var(--canvasContainer-height);
  }

  #colorSample{
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
  }