#selectYourFile {
  position: relative;
  margin-top: 90px;
  height: 100vh;
  display:flex;
  flex-direction: column;
  justify-content: center;
}
#selectFile{
  display:none;
}

#label{
  margin-left: 5vw;
  font-size: clamp(
    1.2rem,
    1vw + 1rem,
    2.5rem
  );
  letter-spacing: 0.05rem;
  padding: 1.5rem 2rem 1.5rem 2rem; 
  max-width: 50vw; 
  box-shadow: 0px 0px 15px lightgrey;
  display:flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

label:active{
  box-shadow: none;
  position:relative;
  top:5px;
}

#previewOuterContainer{
  height:100%;
  
}

#previewBox{
  display:flex;
  flex-direction:row;
}

#previewContainer {
  margin-top: 4vw;
  display: flex;
  height: auto;
  justify-content: flex-start;  
  display:flex;
  flex-direction:column; 
}

#instruction{
  margin-top: 5px;
  color:white;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
  font-family: "メイリオ", "Meiryo", sans-serif;
  font-size:1em;
  background: rgb(0, 0, 0, 0.1)
}
#selectNameBox {
  width: 50vw;
  font-size: 3rem;
  font-family: Ryumin Regular KL;
  display: flex;
  font-size: 50px;
  writing-mode: vertical-rl;
  align-items: center;
  justify-content: center;
  padding-top: 70px;
  padding-bottom: 70px;
  position: relative;
}

#linkContainer2 {
  position: absolute;
  bottom: 3%;
  right: 3%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}


