#selectYourFile {
  margin-top: 150px;
  background:lightygrey;
  height: 100vh;
  display:flex;
  flex-direction: column;
  justify-content: center;
}
#selectFile{
  display:none;
}

#label{
  margin-left: 5vw;
  font-size: 1.5em;
  letter-spacing: 0.05em;
  height:15vh;  
  padding: 20px;
  box-shadow: 0px 0px 15px lightgrey;
}

label:active{
  box-shadow: none;
  position:relative;
  top:5px;
}

#selectContainer{
  height:100%;
  background: yellow;
}

#previewContainer {
  display: flex;
  width: 100%;
  justify-content: flex-start;

  
}
#chosenPic {
  width: 50%;
}

