#selectYourFile {
  background:grey;
  height: 100vh;
  flex:display;
  flex-direction:column;
  justify-content: center;

}
#selectFile{
  display:none;
}
#formToSelectFile {
  background-color: red;
  width: 50vw;
  height: 15vh;
  flex:display;
  justify-content:center;
}

label{
  font-size: 1.5em;
}

#chosenPic {
  width: 50%;
}

#previewContainer {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  background-color:lightgreen;
}

#photoContainer{
  width: 50vw;
  /* #colorContainer {
  width: 50%;
} */
}