#container{
    background-color:beige;
    display:flex;
    flex-direction:column;
}
#title{
    margin: 5vh;
    font-size: 7vw;
}
#description{
    margin-top: 5vh;
    margin-left: 5vh;
    margin-right: 10vh;
    font-size: 3vh;
}
#intro{
    margin-top: 50px;
    height: 90vh;
    width: 100vw;   
    background-color:white;
    font-size: 0.7em;
}
.sampleimage{
    height: 105vh;
    transform: rotate(90deg);

}