html {
  scroll-behavior: smooth;
  height: 100%;
}

#home {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 115vh;
  width: 100%;
  background: #c1e4e9;
  display: flex;
}

#wrapper{
  display:flex;
  flex-direction: column;
  gap: 32px;
  background: green;
  max-width: 432px;
  min-width: 332px;
  padding-left: 16px;
  padding-right: 16px;
}

#title {
  font-size: 6rem; 
  color:darkslategray;
  width: -moz-fit-content;
  width: fit-content;
}

#intro {  
  font-family: "メイリオ", "Meiryo", sans-serif;
  letter-spacing: 0.1rem;
  line-height: 1.5rem; 
}

#clickContainer {
  display: flex;
  flex-direction: column;
}

.link {
  display: block;
  width: 300px;
  padding: 0.8em;
  background: rgb(216, 236, 240);
  text-decoration: none;
  border: 1px solid rgb(149, 172, 180);
  font-size: 0.8em;
  margin-top: 10px;
}
.link:hover {
  background: rgb(242, 250, 250);
  cursor: pointer;
  text-decoration: none;
}

