#photoContainer {
  position: relative;
}

#sampleImage {
  width: 50%;
  transform: rotate(90deg);
}
#demoText {
  width: 45%;
  font-size: 2em;
  color: white;
  position: absolute;
  top: 24%;
  left: 4%;
  font-weight: bold;
  letter-spacing: 0.07em;
}
