#demoContainer {
  position: relative;
  height: 120vh;
  margin-top: 150px;
  display: flex;
  flex-direction: row;
}

#photoContainer {
  margin-top: 4vw;
  position: relative;
  width: 60vw;
}

#demoImage {
  width: 80%;
  position: abosolute;
  top: 0;
  left: 0;
  /* transform: rotate(90deg); */
  scroll-behavior: smooth;
}
#demoText {
  position: absolute;
  top: 10%;
  left: 5%;
  width: 80%;
  font-size: clamp(
    1.2rem,
    1vw + 1rem,
    2.5rem
  );
  letter-spacing: 0.05em;
  color: white;
  font-weight: bold;
  font-family: "メイリオ", "Meiryo", sans-serif;
  letter-spacing: 0.07em;
  background: rgb(0, 0, 0, 0.1);
  pointer-events: none;
}

#demoNameBox {
  width: 50vw;
  font-size: 50px;
  font-family: Ryumin Regular KL;
  display: flex;
  font-size: 50px;
  writing-mode: vertical-rl;
  align-items: center;
  justify-content: center;
  padding-top: 70px;
  padding-bottom: 70px;
  position: relative;
}

#linkContainer {
  position: absolute;
  bottom: 14%;
  right: 3%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;

}

