#demoContainer {
  position: relative;
  margin-top: 150px;
  display: flex;
  flex-direction: row;
}

#photoContainer {
  margin-top: 4vw;
  position: relative;
  width: 60vw;
}

#demoImage {
  width: 80%;
  position: abosolute;
  top: 0;
  left: 0;
  /* transform: rotate(90deg); */
  scroll-behavior: smooth;
}
#demoText {
  width: 80%;
  font-size: 1.7em;
  letter-spacing: 0.05em;
  color: white;
  position: absolute;
  font-weight: bold;
  font-family: "メイリオ", "Meiryo", sans-serif;
  top: 20%;
  left: 5%;
  letter-spacing: 0.07em;
  background: rgb(0, 0, 0, 0.1)
}

#demoNameBox {
  width: 50vw;
  font-size: 50px;
  font-family: Ryumin Regular KL;
  display: flex;
  font-size: 50px;
  writing-mode: vertical-rl;
  align-items: center;
  justify-content: center;
  padding-top: 70px;
  padding-bottom: 70px;
  position: relative;
}

#linkContainer {
  position: absolute;
  top: 90%;
  left: 90%;
  display: flex;
  flex-direction: column;
  width: 50px;
  height: 50px;
  background: pink;
}
